.header{width:100%;;}
.header-inner1{width:100%;height:36px;border-bottom:1px solid #F6F6F6;}
.header-inner1 ul{width:1200px;margin: 0 auto;padding-top:10px;}
.header-inner1 ul li{float: left;font-size:12px;border-right: 1px solid black;padding-left:15px;padding-right:15px;}
.header-inner1 ul li .span{color:#0066CC;}
.header-inner1 ul li a{color: #0066CC}
.header-inner1 ul li:nth-child(3) a,.header-inner1 ul li:nth-child(4) a{color:black;}
.header-inner1 ul li:nth-child(5){border: none;}
.header-inner2{width:1200px;height:96px;margin: 0 auto;padding-top:15px;}
.header-inner2 div{width:298px;height:60px;float:right;margin-top: 15px;}
.header-inner2 div p:nth-child(1){width:298px;height:32px;background:url(../img/changchengrunhuayou/searchDiv_form.png)no-repeat;}
.header-inner2 div p:nth-child(1) .serach-box{margin-left:40px;margin-top:3px;width:195px;height:26px;border: none;}
.header-inner2 div p:nth-child(1) .serach{width:55px;height:27px;border:none;color:white;background:#005BAC;font-weight:800;cursor: pointer;}
.header-inner2 div p:nth-child(2){font-size:12px;margin-top: 10px;color:#666666;}
.header-inner2 div p:nth-child(2) a{margin:5px;color:#666666;}
.header-inner3{width:100%;height:40px;background:#005BAC;}
.header-inner3-inner{width:1200px;height:40px;margin: auto;position: relative;line-height:40px;font-weight:800;text-align: center;}
.header-inner3-inner p{width:236px;height:40px;background: url(../img/changchengrunhuayou/frequeL1.png)no-repeat 40px 8px;float: left;}
.header-inner3-inner p a{color: white;}
.header-inner3 .inner3-inner-nav{width:964px;height:40px;float:right;}
.header-inner3 .inner3-inner-nav li{float: left;}
.header-inner3 .inner3-inner-nav li a{color: white;}
.header-inner3 .inner3-inner-nav li:nth-child(1){width:125px;height:40px;background:url(../img/changchengrunhuayou/indMenuBg.png)no-repeat 18px 10px}
.header-inner3 .inner3-inner-nav li:nth-child(2){width:125px;}
.header-inner3 .inner3-inner-nav li:nth-child(3),.header-inner3 ul li:nth-child(4),.header-inner3 ul li:nth-child(5),.header-inner3 ul li:nth-child(6),
.header-inner3 .inner3-inner-nav li:nth-child(7){width: 128px;}
.header-inner3-inner #chengfenleinone{width:236px;background:#005BAC;position: absolute;top:40px;left: 0px;display: none;height: 500px;}
.header-inner3-inner #chengfenleinone li a{display: block;width:216px;height:55px;margin: auto;text-align: center;line-height:55px;
border-top:1px solid #4084C1;color: white;}
.header-inner3-inner #chengfenleinone li:nth-child(1) a{background:url(../img/changchengrunhuayou/frequeL3.png)no-repeat 30px 18px;}
.header-inner3-inner #chengfenleinone li:nth-child(2) a{background:url(../img/changchengrunhuayou/frequeL2.png)no-repeat 30px 18px;}
.header-inner3-inner #chengfenleinone li:nth-child(3) a{background:url(../img/changchengrunhuayou/frequeL4.png)no-repeat 30px 13px;}
.header-inner3-inner #chengfenleinone #fengongsi{width:256px; margin:320px 0px 40px 0px;border: none;background:#0773d3;
position: absolute;top:48px;left: -10px;background:#0773d3 url(../img/changchengrunhuayou/doubleR.png)no-repeat 30px 10px;background-size:30px;}
.content{width:100%;}
.content-inner{width:1200px;margin: 0 auto;font-weight: 800;}
.content-inner .content-inner-ul1{width:100%;height:50px;}
.content-inner .content-inner-ul1 li{float: left;line-height: 50px;}
.content-inner .content-inner-ul1 li:nth-child(1){margin-right:15px;margin-left: 20px;}
.content-inner .content-inner-ul1 li:nth-child(2) a:hover{color: blue;}
.content-inner .content-inner-ul1 li:nth-child(3){margin-left: 10px;margin-right:10px;}
.content-inner-div{width:1188px;height:41px;border: 1px solid #CCCCCC;background: #E0DEDA;margin:15px 0;padding-left:10px;padding-top:9px;}
.content-inner-div-ul{width:400px;height:30px;background:white;border: 1px solid #999999;}
.content-inner-div-ul li{width:81px;border-right:1px solid #999999;float: left;line-height:30px;text-align: center;}
.content-inner-div-ul li a{text-decoration: none;}
.content-inner-div-ul li:nth-child(2){background:#005BAC;height:30px;}
.content-inner-div-ul li:nth-child(2) a{color:white;}
.content-inner-div-ul li:nth-child(3),.content-inner-div-ul li:nth-child(4),.content-inner-div-ul li:nth-child(5),
.content-inner-div-ul li:nth-child(2){cursor: pointer;}
.remen{background:#005BAC;}
.remen a{color:white;}
.content-inner-div-ul li:nth-child(3),.content-inner-div-ul li:nth-child(4),.content-inner-div-ul li:nth-child(5){margin-left: -3px;}
.content-inner-div-ul li:nth-child(5){border: none;}
.content-inner-ul{margin-bottom:20px;overflow: hidden;}
.content-inner-ul li{width:290px;height:380px;color:black;font-weight:normal;float: left;margin-left:13.3px;}
.content-inner-ul .li-margin0{margin: 0;}
.content-inner-ul li a{display: block; width:283px;height:278px;border:1px solid #999999;padding-left:5px;}
.content-inner-ul li a img{height:100%;}
.content-inner-ul .content-inner-ul-li-p1{width:96%;margin-left:10px;line-height:22px;margin-top:5px;}
.content-inner-ul .content-inner-ul-li-p2{margin-left:10px;line-height:22px;}
.content-inner-ul .content-inner-ul-li-p2 span{color:#0066CC;line-height:22px;font-weight:800;}
.content-inner-ul del{margin-left:10px;line-height:22px;}
.content-inner-cont2{width:850px;margin:30px auto;}
.footer{width:100%;background:#999;}
.footer-inner{width:1200px;height:88px;margin: auto;padding-top:35px;color:white;}
.footer-inner ul{padding: 0px 244px;}
.footer-inner ul li{width:140px;float: left;border-right: 2px solid white;text-align: center;}
.footer-inner ul li:nth-child(5){border-right: none;}
.footer-inner ul li a{color:white;}
.footer-inner p{width:100%;clear:both;margin-top:50px;font-size:12px;text-align: center;}
.ReturnTop{width:70px;height:65px;background: url(../img/changchengrunhuayou/result-top-btn.png);float: right;position: fixed;bottom:170px;right:50px;display: none;}
