.header{width:100%;}
.header-inner{width:1200px;margin: auto;}
.header-inner img{margin:20px 410px;}
.content{width:1920px;background: url(../img/changchengrunhuayou/loginChoice_con.png)no-repeat;margin: auto;background-size:100%;}
.content-inner{width:1200px;height:497px;margin: auto;padding-top:40px;}
.content-inner h2{font-size:60px;font-weight:800;text-align: center;color: white;margin-bottom:20px;}
.content-inner-value{width:778px;margin: auto;}
.content-inner-left{width:352px;float: left;}
.content-inner-left a,.content-inner-right a{display:block;width:352px;height:72px;line-height:72px;text-align: center;color:white;font-size:26px;font-weight:800;text-decoration: none;margin-top:20px;}
.content-inner-left a:nth-child(2){background:url(../img/changchengrunhuayou/activityLanred.png)no-repeat;}
.content-inner-left a:nth-child(3){background:url(../img/changchengrunhuayou/activityLanhover.png)no-repeat;}
.content-inner-right{width:352px;float:right;}
.content-inner-right a:nth-child(2){background:url(../img/changchengrunhuayou/activityHui.png)no-repeat;}
.content-inner-right a:nth-child(3){background:url(../img/changchengrunhuayou/activityLanhover.png)no-repeat;}
.content-inner-left a:nth-child(2):hover{background:url(../img/changchengrunhuayou/activityLanredhover.png);}
.content-inner-left a:nth-child(3):hover{background:url(../img/changchengrunhuayou/activityLan.png);}
.content-inner-right a:nth-child(3):hover{background:url(../img/changchengrunhuayou/activityLan.png);}
.zhiliang{width:850px;margin:50px auto;}
.footer{width:100%;background:#999;}
.footer-inner{width:1200px;height:88px;margin: auto;padding-top:35px;color:white;}
.footer-inner ul{padding: 0px 244px;}
.footer-inner ul li{width:140px;float: left;border-right: 2px solid white;text-align: center;}
.footer-inner ul li:nth-child(5){border-right: none;}
.footer-inner ul li a{color:white;}
.footer-inner p{clear: both;text-align: center;margin-top:50px;font-size:12px;}