.header{width:100%;;}
.header-inner1{width:100%;height:36px;border-bottom:1px solid #F6F6F6;}
.header-inner1 ul{width:1200px;margin: 0 auto;padding-top:10px;}
.header-inner1 ul li{float: left;font-size:12px;border-right: 1px solid black;padding-left:15px;padding-right:15px;}
.header-inner1 ul li .span{color:#0066CC;}
.header-inner1 ul li a{color: #0066CC}
.header-inner1 ul li:nth-child(3) a,.header-inner1 ul li:nth-child(4) a{color:black;}
.header-inner2{width:1200px;height:96px;margin: 0 auto;padding-top:15px;}
.header-inner2 div{width:298px;height:60px;float:right;margin-top: 15px;}
.header-inner2 div p:nth-child(1){width:298px;height:32px;background:url(../img/changchengrunhuayou/searchDiv_form.png)no-repeat;}
.header-inner2 div p:nth-child(1) .serach-box{margin-left:40px;margin-top:3px;width:195px;height:26px;border: none;}
.header-inner2 div p:nth-child(1) .serach{width:55px;height:27px;border:none;color:white;background:#005BAC;font-weight:800;cursor: pointer;}
.header-inner2 div p:nth-child(2){font-size:12px;margin-top: 10px;color:#666666;}
.header-inner2 div p:nth-child(2) a{margin:5px;color:#666666;}
.header-inner3{width:100%;height:40px;background:black;}
.header-inner3-inner{width:1200px;height:40px;margin: auto;position: relative;line-height:40px;font-weight:800;text-align: center;}
.header-inner3-inner p{width:236px;height:40px;background: url(../img/changchengrunhuayou/frequeL1.png)no-repeat 40px 8px;float: left;}
.header-inner3-inner p a{color: white;}
.header-inner3 .inner3-inner-nav{width:964px;height:40px;float:right;}
.header-inner3 .inner3-inner-nav li{float: left;}
.header-inner3 .inner3-inner-nav li a{color: white;}
.header-inner3 .inner3-inner-nav li:nth-child(1){width:125px;height:40px;background:url(../img/changchengrunhuayou/indMenuBg.png)no-repeat 18px 10px;margin-left:50px;}
.header-inner3 .inner3-inner-nav li:nth-child(2){width:125px;}
.header-inner3 .inner3-inner-nav li:nth-child(3),.header-inner3 ul li:nth-child(4),.header-inner3 ul li:nth-child(5),.header-inner3 ul li:nth-child(6),
.header-inner3 .inner3-inner-nav li:nth-child(7){width: 128px;}
.header-inner3-inner #chengfenleinone{width:236px;background:#E10012;position: absolute;top:40px;left: 0px;display: none;height: 500px;}
.header-inner3-inner #chengfenleinone li a{display: block;width:216px;height:55px;margin: auto;text-align: center;line-height:55px;
											border-top:1px solid white;color: white;}
.header-inner3-inner #chengfenleinone li:nth-child(1) a{background:url(../img/changchengrunhuayou/frequeL3.png)no-repeat 30px 18px;border: none;}
.header-inner3-inner #chengfenleinone li:nth-child(2) a{background:url(../img/changchengrunhuayou/frequeL2.png)no-repeat 30px 18px;}
.header-inner3-inner #chengfenleinone li:nth-child(3) a{background:url(../img/changchengrunhuayou/frequeL4.png)no-repeat 30px 13px;}
.header-inner3-inner #chengfenleinone #fengongsi{width:256px; margin:320px 0px 40px 0px;border: none;
												position: absolute;top:48px;left: -10px;
												background:#D90919 url(../img/changchengrunhuayou/doubleR.png)no-repeat 30px 10px;background-size:30px;}
.content{width:100%;}
.content-inner{width:1200px;margin: 0 auto;font-weight: 800;}
.content-inner ul{width:100%;height:50px;}
.content-inner ul li{float: left;line-height: 50px;}
.content-inner ul li:nth-child(1){margin-right:15px;margin-left: 20px;}
.content-inner ul li:nth-child(2) a:hover{color: blue;}
.content-inner ul li:nth-child(3){margin-left: 10px;margin-right:10px;}
.content-inner .order{width:114px;height:34px;background:#E10012;text-align: center;line-height:34px;color:white;margin:15px 0;}
.content-inner-order,.content-inner-order1,.content-inner-order2,.content-inner-order3{width:1198px;border:1px solid #BBB4B4;}
.content-inner-order table,.content-inner-order1 table,.content-inner-order2 table,
.content-inner-order3 table{width:1178px;border: 1px solid #BBB4B4;margin:10px;}
.content-inner-order table tr td,.content-inner-order1 table tr td,.content-inner-order2 table tr td,
.content-inner-order3 table tr td{border:1px solid #BBB4B4;text-align: center;}
.content-inner-order table tr:nth-child(2),.content-inner-order table tr:nth-child(3),
.content-inner-order table tr:nth-child(4){font-weight:normal;}
.content-inner-order table tr:nth-child(1){height:35px;background:#999;color: white;}
.content-inner-order table tr:nth-child(1) td:nth-child(1){width:356px;}
.content-inner-order table tr:nth-child(1) td:nth-child(2){width:175px;}
.content-inner-order table tr:nth-child(1) td:nth-child(3){width:188px;}
.content-inner-order table tr:nth-child(2) td:nth-child(1) img,
.content-inner-order table tr:nth-child(3) td:nth-child(1) img,
.content-inner-order table tr:nth-child(4) td:nth-child(1) img{width:90px;height:90px;float: left;margin:15px 30px 15px 20px;}
.content-inner-order table tr:nth-child(2) td:nth-child(1) span{float: left;margin-top: 30px;}
.content-inner-order table tr:nth-child(3) td:nth-child(1) span,
.content-inner-order table tr:nth-child(4) td:nth-child(1) span{display: block;float: left;width:160px;height:67px; margin-top: 30px;text-align: left;}
.content-inner-order table tr:nth-child(5) td{height:65px;}
.content-inner-order table tr:nth-child(5) td p{font-size:18px;float: left;}
.content-inner-order table tr:nth-child(5) td p span,em{color:#E10012;}
.content-inner-order table tr:nth-child(5) td p span em{font-size:16px;font-weight:800;}
.content-inner-order table tr:nth-child(5) td p:nth-child(1){margin-left:30px;}
.content-inner-order table tr:nth-child(5) td p:nth-child(2){margin-left:40px;}
.shouxin{width:100%;height:34px;line-height:34px;margin:15px 0;color:white;text-align: center;}
.shouxin span:nth-child(1){display: block;width:130px;height:34px;background: #E10012;float: left;}
.shouxin span:nth-child(2){display: block;width:465px;height:34px;background: #E10012;float: right;margin-right:20px;}
.shoudizhi{width:1198px;border: 1px solid #BBB4B4;color:black;position: relative;}
.shoudizhi p{margin-left:20px;line-height:40px;}
.shoudizhi-div1{width:100%;height:78px;background:#F2E5D1;border-top:1px solid #BBB4B4;}
.shoudizhi-div1 input{margin-left:55px;margin-top:15px;}
.shoudizhi-div1 div{width:150px;height:24px;margin-left:85px;margin-top:10px;}
.shoudizhi-div1 div a{width:66px;height:22px;background:#F1F1F1;border: solid 1px #AAA3A3;
			display: block;line-height:22px;text-align: center;border-radius:3px;font-size:12px;}
.shoudizhi-div1 div a:nth-child(1){float: left;}
.shoudizhi-div1 div a:nth-child(2){float: right;}
.shoudizhi-div2,.shoudizhi-div3{background:white;}
.shoudizhi-div3 div{width:1100px;height:30px;}
.shoudizhi-div1 div a{text-decoration: none;}
.shoudizhi-div3 div a{float: left !important;}
.shoudizhi-div3 div a:nth-child(2){margin-left:15px;}
.shoudizhi-div1 div a:hover{color: red;}
.xinzeng{width:108px;height:30px;background:#E10012;float:right;line-height:30px !important;position: absolute;right:10px;bottom:5px;
					text-align: center;color: white;border-radius:5px;font-size:14px;}
.content-inner-order1 tr,.content-inner-order2 tr,.content-inner-order3 tr{height:34px;}
.content-inner-order1 tr:nth-child(1),.content-inner-order2 tr:nth-child(1){background:#999;color: white;}
.content-inner-order1 tr:nth-child(1) td:nth-child(1),.content-inner-order1 tr:nth-child(1) td:nth-child(3){width:25%;}
.content-inner-order2 tr:nth-child(1) td:nth-child(1){width:25%;}
.content-inner-order3{color:black;}
.content-inner-order4 p{width:1149;height:34px;padding-left:50px;line-height:34px;border-bottom: 1px solid #BBB4B4;}
.content-inner-order4 p span{color:#E10012;font-weight: 800;}
.content-inner-order4 p:nth-child(4){border-bottom:none;height:70px;}
.content-inner-order4 p:nth-child(4) input{width:183px;height:50px;background: url(../img/changchengrunhuayou/redImages/fyzj_Tabfist.jpg) no-repeat;
											border: none;display: block;margin: 20px auto}
.content-inner-cont2{width:850px;margin:30px auto;}
.footer{width:100%;background:#999;}
.footer-inner{width:1200px;height:88px;margin: auto;padding-top:35px;color:white;}
.footer-inner ul{padding: 0px 244px;}
.footer-inner ul li{width:140px;float: left;border-right: 2px solid white;text-align: center;}
.footer-inner ul li:nth-child(5){border-right: none;}
.footer-inner ul li a{color:white;}
.footer-inner p{margin-top:50px;font-size:12px;text-align: center;}
.ReturnTop{width:70px;height:65px;background: url(../img/changchengrunhuayou/result-top-btn.png);float: right;position: fixed;bottom:170px;right:50px;display: none;}
#overlay{position:absolute;top:0;left:0;width:100%;height:330%;background:#000;opacity:0.5;filter:alpha(opacity=50);display:none;}
#content{position:fixed;top:40%;left:40%;width:730px;height:300px;background:white;margin:-100px 0 0 -200px;color: #000000;display: none;}
#content p{width:80%;height:40px;float: left;line-height:40px;margin-left:30px;}
#close{cursor:pointer;border-bottom:1px solid #999999;float: right;font-weight:800;width:100% !important;line-height:40px;margin: 0 !important;}
#close span:nth-child(1){margin-left:15px;}
#close span:nth-child(2){margin-left:15px;color:#7b6e6e;font-size:14px;}
#close span:nth-child(3){float:right;font-size:25px;margin-right:15px;}
#content p:nth-child(2){margin-left:45px;margin-top:5px;}
#content p:nth-child(2) input{width:167px;height:25px;padding-left:5px;}
#content p:nth-child(3){margin-left:60px;}	
#content p:nth-child(3) select {height:22px;line-height:22px !important;}	
#content p:nth-child(4) input{width:300px;height:25px;padding-left:5px;}
#content p:nth-child(5) input{width:130px;height:25px;padding-left:5px;}
#content p:nth-child(6){margin-left:85px;}
#content p:nth-child(6) input{width:15px;height:15px;position: relative;top: 3px;}
#content p:nth-child(7){margin-left:103px;}
#content p:nth-child(7) input{width:65px;height:25px;border-radius:3px;border: 1px solid #999999;cursor: pointer;}




						